* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --background-color: radial-gradient(circle, rgba(17,25,66,1) 0%, rgba(5,7,18,1) 100%);;
    --light-bg-color: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);;
}

/* =============== light mode =============== */
:root.light {
    --background-color: var(--light-bg-color);
}
  
body.light {
    background-color: var(--light-bg-color);
}
/* =============== light mode =============== */

body {
    font-family: 'Roboto Mono',monospace;
    font-size: 1.6rem;
    background: var(--background-color);
}

.page-logo {
    width: 14rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.container {
    text-align: center;
    padding: 2rem;
    
    margin: 5rem auto 0;
    width: 32rem;
    background: rgba(255, 255, 255, 0.034);
    border-radius: 1.6rem;
    box-shadow: 0 4px 3rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.heading {
    margin-top: 2rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
  
.page-title {
    color:#ffffff;
    margin: 0 0 5px;
    font-size: 4rem;
}
  
.page-subtitle {
    color:#ffffff;
    font-size: 2rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 10% 0 15%;
}

.input-wrapper label {
    margin-top: 2rem;
    margin-bottom: 4px;
    font-size: 2rem;

    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

input {
    background: #FAFAFC;

    width: 40%;
    height: 4rem;

    padding-left: 1rem;

    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    color: #535971;
    
    border: 1px solid #E6E6F0;
    border-radius: .8rem;
}

input:focus {
    outline: 1px solid #9e9ea5;
    box-shadow: 0px 10px 40px #00000056;

}

.btn-average {
    margin-top: 4.5rem;

    background: #77ffc0;
    color: #2f2841;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1rem 4rem #00000056;

    width: 60%;
    height: 4rem;

    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: center;
    border: none;
    border-radius: .8rem;
    cursor: pointer;
}

.btn-average:hover {
    background: #40ffa6;
    transition: 400ms;
}

.message {
    color:#ffffff;
    font-size: 2.5rem;

    margin-top: 3rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 2rem;
}

.social-medias a img {
    transition: transform 200ms;
}

.social-medias a img:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 40px #00000056;
}

/* =============== button light mode =============== */
.switch {
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 3.4rem;

    top: 1rem;
    left: 1rem;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 2.6rem;
    width: 2.6rem;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
  
input:checked + .slider {
    background-color: #7f7ff1;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #7f7ff1;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(2.6rem);
    -ms-transform: translateX(2.6rem);
    transform: translateX(2.6rem);
}
  
.slider.round {
    border-radius: 3.4rem;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* =============== media query =============== */
@media (min-width: 320px) {
    .container {
        width: 90%;
    }

    input, .btn-average {
        width: 60%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 70rem;
    }
}